body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(126, 243, 243);
  }
  
  .menubar {
    overflow: hidden;
    background-color: rgb(9, 144, 255);
  }
  
  .menubar a {
    float: left;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .menubar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(38, 0, 255);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    background-color:rgb(97, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(5, 153, 0);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  img{
      margin:0 0 0 1000px;
  }